<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <% for (let i = 0; i < food.length; i++) { %>
    <div>
      <a href="/detail/<%= food[i].id %>">
        <img src="<%= food[i].image %>" alt="음식 이미지" />
      </a>
    </div>
    <% } %>
  </body>
</html>
