<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <a href="main/detailPage"> 상세페이지로 이동 </a>
    <br />
    <a href="main/heartPage"> 찜한 페이지로 이동 </a>
  </body>
</html>
